* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    margin: 1rem;
    padding: 1rem;
    background: #ffffff;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

#contact-submit {
    display: flex;
    margin-top: 10px;
}


h1 {
    color: #D25014;
    font-weight: bold;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px
}

#header-logo {
    height: auto;
    max-height: 50px;
    width: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #D25014;
    text-decoration: none;
    font-weight: bold;
    padding: 0 15px;
}

nav ul li {
    display: inline;
    margin-right: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    font-family: 'Roboto', Arial, sans-serif;
    color: #495057;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Main Page */

#booking-title {
    margin-top: 5%;
    background-color: #D25014;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    text-align: left;
}
#booking-title2 {
    background-color: #D25014;
    padding: 10px;
    text-align: left;
    padding-bottom: 5%;
}

#booking-form {
    background-color: #D25014;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 2px 8px rgba(0.2, 0.2, 0.2, 0);
    padding: 10px;
    outline-style: solid;
    outline-color: #f4f4f4;
}

#search-button {
    padding: 10px 20px;
    font-size:x-large;
}

.about-us {
    margin-top: 15px;
}

.horizontal-fields {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#rooms {
    display: flexbox;
    justify-content: center;
    margin-top: 2rem;
    height: auto;
    width: auto;
}

.roomimg {
    max-height: 40vh;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0.1, 0.1, 0.1, 0.1);
    transition: transform 0.1s;

}

#booking {
    margin-left: 2%;
    margin-right: 2%;
}



.horizontal-labels {
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    margin-right: 9%;
}

.form-row {
    display: flex;
    flex-direction: column;
    min-width: 24%;

}

#slogan {
    margin-top: 5%;
}

.roomimg:hover {
    transform: scale(1.05);
}

#about {
    padding-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5%;
}


#contact {
    padding-top: 100px;
}

#contact-form {
    max-width: 650px;
    margin: auto;
}

.vertical-labels {
    font-size:x-large;
    font-weight: bold;
}

/* Main end*/

#destination-input,
input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
textarea {
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    font-size: larger;
}

button[type="submit"],
button[type="button"] {
    background-color: #ffffff;
    color: #D25014;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.custom-dropdown {
    position: relative;
    width: 100%;
    max-width: 24%;
}

#destination-input:focus {
    border-color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content div {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.dropdown-content div:hover {
    background-color: #ddd;
}

#destination-input:focus+.dropdown-content {
    display: block;
}

/*login*/
#loginForm {
    margin: auto;
    margin-top: 10px;
    max-width: 25%;
    min-width: 350px;
}

#login_signup {
    display: flex;
    margin-top: 10px;
}

#loginh2 {
    padding-top: 10%;
    padding-bottom: 0%;
}

#signup-link {
    background-color: black;
}

/*login end*/
/*signup*/
#login_signup {
    display: flex;
    margin-top: 10px;
}

#loginh2 {
    padding-top: 10%;
}

#signup-form {
    margin: auto;
    margin-top: 0%;
    max-width: 25%;
    min-width: 350px;
}

/*signup end*/
/*search*/
#hotel-options {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#spacer {
    flex: 1;
    padding: 10%;
}

#hotel-options {
    margin: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 10%;
}

.option-backgrounds {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 30%;
    margin-bottom: 10px;
}

#hotel-name {
    text-align: left;
}

.hotel-choice {
    width: 100%;
    height: auto;
    margin-top: 10px;
    text-align: center;
    min-width: 30%;
}

.hotel-info {
    text-align: center;
}

.book-now-button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 16px;
    background-color: #D25014;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*search end*/

#payment {
    background-color: #D25014;
    padding: 2rem;
    border-radius: 5px;
    max-width: 100%;
    margin: auto;
    padding-bottom: 0%;

}

#chosen-hotel {
    width: 50%;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
}

#payment-button {
    background-color: #ffffff;
    color: #D25014;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

 .horizontal-fields{
    justify-content: center;
 }
#payment-border {
    padding: 0;
    /* Set padding to 0 */
    margin: 0 auto;
    
    background-color: #D25014;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-width: 500px;
    max-width: 30%
}

#payment-form {
    display: flex;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    /* Add padding to the form if needed */
}



#payment-title {
    padding-top: 50px;
}

footer {
    background: #D25014;
    color: white;
    padding: 1rem;
    text-align: center;
}


a {
    text-decoration: none;
}

#payment-border {
    padding: 10px;
    /* You can adjust the padding as needed */
    margin: auto;
    /* Center the element horizontally */
    background-color: #D25014;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: fit-content;
    /* Use fit-content to make the width fit around the content */
}

#payment-form {
    max-width: 400px;
    margin: auto;
    padding: 10px;
    /* Add padding to the form if needed */
}



.hotel-choice {
    width: 100%;
    /* Ensure the image doesn't overflow its container */
}

.hotel-info {
    text-align: center;
    margin-top: 10px;
    /* Add margin to separate from the image */
}


@media (max-width: 1455px) {
    #rooms {
        gap: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    .roomimg {
        margin: auto;
        max-height: 40vh;
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0.1, 0.1, 0.1, 0.1);
        transition: transform 0.1s;
    }
}
@media (max-width: 1000px) {

    .vertical-labels {
        font-size:large;
        font-weight: bold;
    }
}


@media (max-width: 768px) {
    .vertical-labels {
        display: contents;
    }

    .horizontal-labels {
        display: flex;
        justify-content: space-between;
        margin: 9%;
        margin-bottom: 0%;
        display: none;
    }

    header {
        flex-direction: column;
    }

    #chosen-hotel {
        width: 50%;
        min-width: 300px;
    }

    .logo-title {
        justify-content: center;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a {
        color: #D25014;
        text-decoration: none;
        font-weight: bold;
        padding: 0 5px;
        font-size: smaller;
    }

    nav ul li {
        display: inline;
        margin-right: 0;
    }

    #rooms {
        gap: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }

    .roomimg {
        margin: auto;
        max-height: 40vh;
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0.1, 0.1, 0.1, 0.1);
        transition: transform 0.1s;
    }


    .horizontal-fields {
        display: block;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .roomimg:hover {
        transform: scale(1);
    }

    #hotel-options {
        flex-direction: column;
        align-items: center;
        min-width: 50%;
    }

    .option-backgrounds {
        display: flex;
        flex-direction: column;
        margin: 0%;
        margin-bottom: 10px;
        max-width: 70%;


    }

    #hotel-info {
        min-width: 300px;
        margin: auto;
        padding: 0%;
    }

    #payment-border {
        padding: 10px;
        background-color: #D25014;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        min-width: 50%;
        max-width: fit-content;

    }

    #payment-form {
        padding: 0%;

    }

    h1 {
        font-size: 20px;
    }

    #booking-form {
        margin-left: auto;
        margin-right: auto;
        max-width: 500px;
    }

    #booking-title {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    #search-button {
        margin-right: auto;
    }

   
}