/* Global Reset and Body Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.6;
    background: #f8f9fa;
    color: #495057;
}

body {
    padding: 2rem;
}

/* Header Styling */
header {
    background: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #007bff;
    font-weight: 500;
}

#header-logo {
    height: 50px;
}

/* Navigation Styling */
nav {
    display: flex;
    align-items: center;
}

nav a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    padding: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

nav ul li {
    display: inline;
}

/* Form and Input Styling */
form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
}

input[type="text"],
input[type="date"],
input[type="number"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

button[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

/* Custom Dropdown Styling */
.custom-dropdown {
    position: relative;
    max-width: 600px;
    margin: auto;
}

#destination-input:focus {
    border-color: #007bff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content div {
    padding: 10px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f8f9fa;
}

#destination-input:focus + .dropdown-content {
    display: block;
}

/* Room Images Styling */
#rooms {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.roomimg {
    max-height: 40vh;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.roomimg:hover {
    transform: scale(1.05);
}

#about,
#contact {
    padding-top: 2rem;
    margin-left: 10%;
}

/* Footer Styling */
footer {
    background: #ffffff;
    color: #495057;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}
